/* _base.scss */

body {
  font-family: var(--font-outfit), sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 0 60px 0;
  margin: 0;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;

  @media (max-width: 600px) {
    font-size: 1.1rem;
  }
}

p {
  text-align: center;
  font-size: 1.15rem;
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

button {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  background-color: $bg-btn;
  transition: transform 0.1s ease;
  font-weight: 500;

  @media (max-width: 600px) {
    padding: 6px 10px;
  }

  &:disabled {
    background-color: $btn-disabled;
    color: black;
    cursor: default;
    transform: none;
    opacity: 0.6;
  }

  &:active:not(:disabled) {
    transform: translateY(2px);
  }
}
